*{
    padding:0px;
    margin:0px;
}
.navbar{
    height: 130px;
    width: 100%;
    background-color:black;
    display:flex;
    border:2px solid black;
    justify-content:space-between;
    align-items:center;


}
.logo{
    height:75px;
    width: 120px;
    border:2px solid black;
    background-color:black;
    background-image:url("amazon_logo.png");
    background-size:cover;
    margin-left:-50px;
}
.address{
    height:75px;
    width: 200px;
    border:2px solid black;
    display:flex;
    flex-wrap:wrap;
    align-content:center;
    margin-left:10px
    
}
a{
    text-decoration:none;
    color:white;
}
#a1{
    background-color:black;
    font-size:13px
}
#a2{
    background-color:black;

}
.searchbar{
    height:75px;
    width:800px;
    background-color:black;
    display:flex;
    border:2px solid black;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    
}
    
#cat{
    width:40px;
    height:32px;
    background-color:rgb(231, 231, 231);
    border-radius:3px;
}
#search{
    width:700px;
    height:32px;
    padding-left:10px;
    font-family:arial;
    font-size:17px;
    font-weight:bold;
}
#iconbar{
    background-color:rgb(233, 189, 106);
    font-size:27px;
    border-radius:3px;
}
.language{
    height:75px;
    width: 80px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px solid black;
}
#in{
    height:25px;
    width: 25px;
    background-image:url("https://imgs.search.brave.com/x_UYUmL_9bJo3-4GnvsOZZl-6PrDGRBBKZFAAXe6B0o/rs:fit:32:32:1:0/g:ce/aHR0cDovL2Zhdmlj/b25zLnNlYXJjaC5i/cmF2ZS5jb20vaWNv/bnMvY2Y0MzZiMmIy/NjZlZDUwZGE1ZmQ3/YjA5NTNiMmE2ZGI4/N2VkZmRjMjE4MjVj/MDVmY2FmMWMzN2Nl/NjI3OTM4Ni93d3cu/aW5kaWEuZ292Lmlu/Lw");
    background-size:cover;
}
#ln{
    height:40px;
    width: 40px;
    background-color:black;
    color:white;
    border-color:black;
    font-weight:bold;
}
.account{
    height:75px;
    width: 110px;
    border:2px solid black;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    align-content:center;
}
#signin{
    font-size:12px
}
#return{
    font-size:12px;
}
.order{
    height:75px;
    width: 70px;
    border:2px solid black;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    align-content:center;

}
.cart{
    height:75px;
    width:40px;
    border:2px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
#ncart{
    background-color:black;
    color:white;
    font-size:35px;
}
.filter{
    height:40px;
    width: 100%;
    border:2px solid black;
    background-color:rgb(38, 37, 74);
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:13px;
}


.hero{
    height:400px;
    width: 100%;
    background-image:url(hero_image.jpg);
    background-size:cover;
    /* display:flex;
    flex-direction:column;
    justify-content:flex-end; */
}
.content{
    height:1000px;
    width:100%;
    background-color:rgb(213, 204, 204);
    display:flex;
    justify-content:center;
    
}
#items{
    height:1000px;
    width:80%;
    background-color:rgb(246, 135, 110);
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.item1{
    height:420px;
    width: 300px;
    border:2px solid black;
    margin:40px;
    background-color:white;
    font-size:30px;
    text-align:center;  
}
#iimg1{
    height:256px;
    width:250px;
    margin:20px;
    background-image: url(box1_image.jpg);
    background-size:cover;
    padding-bottom:10px;
}
#d1{
    color:black;
    font-size:14px;
    text-align:left; 
}
.item2{
    height:420px;
    width: 300px;
    border:2px solid black;
    margin:40px;
    background-color:white;
    font-size:30px;
    text-align:center;  
}
#iimg2{
    height:256px;
    width:250px;
    margin:20px;
    background-image: url(box2_image.jpg);
    background-size:cover;
    padding-bottom:10px;
}
#d2{
    color:black;
    font-size:14px;
    text-align:left; 
}
.item3{
    height:420px;
    width: 300px;
    border:2px solid black;
    margin:40px;
    background-color:white;
    font-size:30px;
    text-align:center;  
}
#iimg3{
    height:256px;
    width:250px;
    margin:20px;
    background-image: url(box3_image.jpg);
    background-size:cover;
    padding-bottom:10px;
}
#d3{
    color:black;
    font-size:14px;
    text-align:left; 
}
.item4{
    height:420px;
    width: 300px;
    border:2px solid black;
    margin:40px;
    background-color:white;
    font-size:30px;
    text-align:center;  
}
#iimg4{
    height:256px;
    width:250px;
    margin:20px;
    background-image: url(box4_image.jpg);
    background-size:cover;
    padding-bottom:10px;
}
#d4{
    color:black;
    font-size:14px;
    text-align:left; 
}

.item5{
    height:420px;
    width: 300px;
    border:2px solid black;
    margin:40px;
    background-color:white;
    font-size:30px;
    text-align:center;  
}
#iimg5{
    height:256px;
    width:250px;
    margin:20px;
    background-image: url(box5_image.jpg);
    background-size:cover;
    padding-bottom:10px;
}
#d5{
    color:black;
    font-size:14px;
    text-align:left; 
}
.item6{
    height:420px;
    width: 300px;
    border:2px solid black;
    margin:40px;
    background-color:white;
    font-size:30px;
    text-align:center;  
}
#iimg6{
    height:256px;
    width:250px;
    margin:20px;
    background-image: url(box8_image.jpg);
    background-size:cover;
    padding-bottom:10px;
}
#d6{
    color:black;
    font-size:14px;
    text-align:left; 
}

.foot1{
    height:150px;
    width: 100%;
    background-color:white;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-content:center;
    align-items:center;
}
#des{
    font-size:30px;
    margin-right:38%;
    margin-left:38%
}
#signinlogo{
    color:black;
    font-size:20px;
    background-color:rgb(242, 222, 91);
    padding:5px 15px 5px 15px;
    border-radius:30px;
    
}
.b2t{
    height: 50px;
    width: 100%;
    background-color:rgb(24, 30, 82);
    display:flex;
    justify-content:center;
    align-items:center;
}
.foot2{
    height:300px;
    width: 100%;
    background-color:rgb(34, 53, 97);
    display:flex;
    justify-content: space-evenly;
}
#outer1{
    height:200px;
    width:140px;
    display:flex;
    flex-wrap:wrap;
    font-size:18px;
    margin:40px;
}
#c1{
    margin-right:30px;
    color:white;
    font-weight:bold;
}
#outer2{
    height:200px;
    width:120px;
    display:flex;
    flex-wrap:wrap;
    font-size:18px;
    margin:40px;
}
#c2{
    margin-right:30px;
    color:white;
    font-weight:bold;
}

#outer3{
    height:200px;
    width:160px;
    display:flex;
    flex-wrap:wrap;
    font-size:18px;
    margin:40px;
}
#c3{
    margin-right:30px;
    color:white;
    font-weight:bold;
}

#outer4{
    height:200px;
    width:140px;
    display:flex;
    flex-wrap:wrap;
    font-size:18px;
    margin:40px;
}
#c4{
    margin-right:30px;
    color:white;
    font-weight:bold;
}

.foot3{
    height:150px;
    width: 100%;
    background-color:rgb(17, 21, 58);
    display:flex;
    justify-content:center;
    align-items:center;

}
#logoimg{
    height:100px;
    width: 200px;
    background-image:url(amazon_logo.png);
    background-size:cover;
}
#clang{
    height:40px;
    width: 120px;
    font-size:22px;
    font-weight:bold;
    border: 2px solid white;
    text-align:center;
    padding-top:10px;
}
.foot4{
    height:30px;
    width: 100%;
    background-color:rgb(17, 21, 58);
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.foot5{
    height:20px;
    width: 100%;
    background-color:rgb(17, 21, 58);
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    padding:10px 0px 10px 0px;
}